.header {
    display: flex;
    justify-content: center;
    line-height: 2em;
    border-top: 2em solid white;
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
}
.cards{
    width: 75%;
    margin: -2em;
}