@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");


.header {
    display: flex;
    justify-content: center;
    line-height: 2em;
    border-top: 2em solid white;
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
}

.body {
    margin: 2em;
}

.search-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 0em 9.2em;
}

.book-list {
    border-collapse: collapse;
    background-color: #eee;
    margin: auto;
    width: 80%;
}

.labels:nth-child(1) > div {
    width: 100px;
}

.labels:nth-child(2) > div {
    width: 100px;
}

.labels:nth-child(3) > div {
    width: 53px;
}

.labels:nth-child(4) > div {
    width: 26px;
}
.labels:nth-child(5) > div {
    width: 35px;
}
.labels:nth-child(6) > div {
    width: 57px;
}
.labels:nth-child(7) > div {
    width: 10px;
}

.book-list td, .book-list th {
    border: 1px outset;
    padding: 2px;
}

.labels {
    font-family: 'Lobster Two', cursive;
}

.first-row {
    text-align: justify;
    background-color: rgb(29, 87, 175);
    color: rgb(230 230 230);
}

.book-info {
    font-style: italic;
    font-size: 12px;
}

.book-list .book:hover {
    background-color: rgb(150, 142, 142);
}

.category {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

.price {
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.buttons {
    margin: 0;
    padding: 0;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-to-cart-list {
    display: flex;
    justify-content: flex-end;
}

.cart-button {
    position: relative;
    outline: 0;
    background-color: blue;
    color: #fff;
    border: none;
    height: 26px;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    line-height: 0px;
    overflow: hidden;
    cursor: pointer;
}

.button {
    position: relative;
    outline: 0;
    background-color: blue;
    color: #fff;
    border: none;
    height: 5px;
    width: 111px;
    padding: 10px;
    border-radius: 10px;
    line-height: 0px;
    cursor: pointer;
    margin-right: 29px;
    margin-top: 24px;
    text-decoration: none;
}

.go-to-shoping-cart {
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
}

.cart-button:focus {
    outline: none !important
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -20%;
    font-size: 1.8em;
    transform: translate(-50%, -50%)
}

.cart-button .fa-square {
    position: absolute;
    z-index: 1;
    top: -20%;
    left: 53%;
    font-size: 0.8em;
    transform: translate(-50%, -50%)
}

.cart-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.cart-button span.added {
    position: static;
    opacity: 0
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 2s ease-in forwards
}

.cart-button.clicked .fa-square {
    animation: box 2s ease-in forwards
}

.cart-button.clicked span.add-to-cart {
    animation: addcart 2s ease-in forwards
}

.cart-button.clicked span.added {
    animation: added 2s ease-in forwards
}

@keyframes cart {
    0% {
        left: -10%
    }

    40%,
    60% {
        left: 50%
    }

    100% {
        left: 110%
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%
    }

    60% {
        top: 36%;
        left: 53%
    }

    100% {
        top: 40%;
        left: 112%
    }
}

@keyframes addcart {

    0%,
    30% {
        opacity: 1
    }

    30%,
    100% {
        opacity: 0
    }
}

@keyframes added {

    0%,
    80% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}